@page "{postId:int}"
@model MessageBoard.Pages.Posts.CommentModel
@{
    ViewData["Title"] = "Comment";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <label asp-for="Post.Message"></label>
        <h3>@Model.Post.Message</h3>
    </div>

    <div class="panel-heading">
        <label asp-for="Post.c">Comments</label>
        <p>@Model.Post.c</p>
    </div>
    <div class="panel-heading">
        <label asp-for="Post.Like"></label>
        <p>@Model.Post.Like</p>
    </div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group">

                <label asp-for="@Model.Post.c">Comment</label>
                <input asp-for="@Model.Post.c" class="form-control" />
            </div>
            <button class="btn btn-primary" type="submit">Add Comment</button>
        </form>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success" asp-page="./Post">All Posts</a>
    </div>
</div>